<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Вакансии</title>
</head>
<body>
<table>
    <tbody>
    <tr>
        <th>Title</th>
        <th>City</th>
        <th>Company Name</th>
        <th>Salary</th>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/16538718?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Ведущий
            java разработчик</a></td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">VIAcode</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/14771246?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Java
            Developer / Java разработчик</a></td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">Devexperts (Российский бренд Эксперт-Система)</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/16112128?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Java
            Architect</a></td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">Competentum</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/16622526?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Java-разработчик</a>
        </td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">ООО SmartAirDeals</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/15946556?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Java-developer</a>
        </td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">TradingView</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/15625229?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Программист
            Java</a></td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">ХХI Век, группа компаний</td>
        <td class="salary">от 25&nbsp;000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/16538844?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Senior
            Java Developer</a></td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">VIAcode</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/14936879?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Java-разработчик
            (г. Краснодар)</a></td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">МАГНИТ, Розничная сеть</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/15487173?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Java
            разработчик (г. Краснодар)</a></td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">МАГНИТ, Розничная сеть</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/16336830?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Программист
            Java</a></td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">Кадровое агентство Юнити</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/16192706?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Инженер-программист
            Java</a></td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">АйТи</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/16556135?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Разработчик
            Java Script</a></td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">TerraLink</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/16506933?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Full-stack
            Java разработчик</a></td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">ДонРивер</td>
        <td class="salary">80&nbsp;000-100&nbsp;000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/16487855?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Senior
            Java Developer</a></td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/16485750?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Инженер-программист
            Java</a></td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">АйТи</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/16323106?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Java-программист</a>
        </td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">R-Style Softlab (Эр-Стайл Софтлаб)</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/16413385?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Java
            developer</a></td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">ЗАО Сбербанк - Технологии</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/16403521?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Java-разработчик</a>
        </td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">Сбербанк России для экспертов</td>
        <td class="salary">65&nbsp;000-85&nbsp;000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/16413349?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Руководитель
            разработки Java</a></td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">ЗАО Сбербанк - Технологии</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/16426707?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Программист
            Action Script (Программист игровой механики)</a></td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">NIKITA ONLINE, Филиал в г.Ростов-на-Дону</td>
        <td class="salary">25&nbsp;000-40&nbsp;000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/16366214?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Программист
            Java / C#</a></td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">Фролов Николай</td>
        <td class="salary">40&nbsp;000-100&nbsp;000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/16452151?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Unity-программист</a>
        </td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">ООО Сайкорн</td>
        <td class="salary">от 30&nbsp;000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/15967364?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Senior
            Software Engineer/Standart Software Engineer (Oracle)</a></td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">Auriga</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/16584717?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">C#
            Asp.Net разработчик</a></td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">DBI</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/16638134?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Web-программист,
            верстальщик</a></td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">ООО Ян Маар</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/14771247?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Software
            Engineer / Инженер-программист</a></td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">Devexperts (Российский бренд Эксперт-Система)</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/13012334?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Разработчик
            Ruby/ Ruby on Rails</a></td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">АРСИЭНТЕК</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/15365830?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Разработчик
            Oracle ATG (г.Краснодар)</a></td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">МАГНИТ, Розничная сеть</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/16325497?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Go-developer</a>
        </td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">TradingView</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/16565443?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Разработчик
            мобильных приложений iOS / Android</a></td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">ИП NiceCode</td>
        <td class="salary">20&nbsp;000-100&nbsp;000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/16319160?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">QA
            Engineer</a></td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">Devexperts (Российский бренд Эксперт-Система)</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/16470422?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Разработчик
            OpenText (JavaScript)</a></td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">Make.Лайф</td>
        <td class="salary">80&nbsp;000-100&nbsp;000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/16470700?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Разработчик
            .net</a></td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">Make.Лайф</td>
        <td class="salary">80&nbsp;000-100&nbsp;000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/16389705?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Программист
            Action Script</a></td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">NIKITA ONLINE, Филиал в г.Ростов-на-Дону</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/16524297?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Junior
            Web Developer</a></td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">ООО ХВД</td>
        <td class="salary">от 25&nbsp;000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/16524270?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Middle
            Web Developer</a></td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">ООО ХВД</td>
        <td class="salary">от 35&nbsp;000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/16524234?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Senior
            Web Developer</a></td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">ООО ХВД</td>
        <td class="salary">от 45&nbsp;000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/16411344?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Инженер-программист</a>
        </td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">Арком</td>
        <td class="salary">50&nbsp;000-50&nbsp;000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/16361652?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Разработчик
            детекторов, сонаров, на фазированных решетках, ФАР и приборов на основе пьезокерамики и УЗ</a></td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">ГК КуйбышевTELECOM</td>
        <td class="salary">до 120&nbsp;000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/16342209?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">PHP-программист
            (Битрикс)</a></td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">ИП Никитина Т.Г., ИП (компания 1000 идей ТМ)</td>
        <td class="salary">28&nbsp;000-35&nbsp;000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://career.ru/vacancy/16359190?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Консультант-разработчик
            (junior)</a></td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">DBI</td>
        <td class="salary">17&nbsp;000-80&nbsp;000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/16297640?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Программист
            Objective-C</a></td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">ЗАЗЕКС</td>
        <td class="salary">30&nbsp;000-50&nbsp;000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/16321009?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Project
            manager</a></td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">ООО Открытые бизнес-решения</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a
                href="https://rostov.hh.ru/vacancy/16292427?query=java%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2">Разработчик
            (.net)</a></td>
        <td class="city">Ростов-на-Дону</td>
        <td class="companyName">TerraLink</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy template" style="display: none">
        <td class="title"><a href="url"></a></td>
        <td class="city"></td>
        <td class="companyName"></td>
        <td class="salary"></td>
    </tr>
    </tbody>
</table>
</body>
</html>